POPcustomized/POP-main/AMASSresults/
POPcustomized/POP-main/assets/
POPcustomized/POP-main/chamferdist/
POPcustomized/POP-main/checkpoints/
POPcustomized/POP-main/configs/
POPcustomized/POP-main/data/
POPcustomized/POP-main/downloads/
POPcustomized/POP-main/lib/
POPcustomized/POP-main/MeshLab/
POPcustomized/POP-main/POP_app/
POPcustomized/POP-main/__pycache__/
POPcustomized/POP-main/render/
POPcustomized/POP-main/results/
POPcustomized/POP-main/SMPLX_POP_ToolKit/
POPcustomized/POP-main/teasers/
POPcustomized/POP-main/trial1_elements/
POPcustomized/POP-main/code_not_in_use/
